METABASE_URL=https://bia.metabaseapp.com
METABASE_API_KEY=tu_api_key_aqui
TEMPLATE_ID=1ZUXS5hBQTvyf6ttuX-at3dAtFozutecs
PARENT_FOLDER_ID=1FoLaPpfsaDKX19N7N5TfG9WT6-MO4vdq
GOOGLE_CREDENTIALS_PATH=./credentials.json
PORT=8000
TELEMEDIDA_SHEET_ID=tu_sheet_id_aqui
