METABASE_URL=https://bia.metabaseapp.com
METABASE_API_KEY=tu_api_key_aqui
TEMPLATE_ID=1ZUXS5hBQTvyf6ttuX-at3dAtFozutecs
PARENT_FOLDER_ID=1FoLaPpfsaDKX19N7N5TfG9WT6-MO4vdq
GOOGLE_CREDENTIALS_PATH=./credentials.json
PORT=8000
TELEMEDIDA_SHEET_ID=tu_sheet_id_aqui
MEDIDORES_DIRECTA_PARENT_ID=shared_drive_id_aqui
NIVEL_TENSION_PARENT_ID=shared_drive_id_aqui
NIVEL_TENSION_TEMPLATE_ID=template_slides_id_aqui
HUBSPOT_GENERAL_TABLE_ID=19438
NIVEL_TENSION_LOG_FILENAME=Simulaciones Nivel de Tensión.xlsx
NT2_CREDENTIALS_PATH=./credentials_nt2.json
